{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "semi": [ "error", "never" ],
    "object-curly-spacing": [ "error", "always" ],
    "array-bracket-spacing": [ "error", "always" ],
    "quotes": [ "error", "single" ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
